* {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 60px;
  padding-right: 60px;
}

.section-hr {
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;
  border-top: 4px solid #a5a5a5;
  border-bottom: 7px solid #521414;
}

.fa-github {
  color: black;
}

#about {
  top: 0;
  background: #e0ebe8;
  min-height: 100vh;
  padding-top: 25vh;
}

#projects {
  background: #e0ebe8;
  padding-top: 25vh;
  min-height: 100vh;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.project-tile, .col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-tile {
  background-color: white;
  box-shadow: 3px 3px lightgray;
  padding: 2px;
}

.col hr {
  width: 50%;
  border: solid darkgray 1px;
  border-radius: unset;
}